@import "./variables.scss";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,
body {
  width: 100vw;
  height: 100vh;
  font-family: "Lato", sans-serif;
  h1 {
    font-size: 36px;
  }
}
.head {
  height: 782px;
  background: linear-gradient(
      90deg,
      rgba(213, 32, 71, 0.8) 0%,
      rgba(215, 34, 67, 0.8) 0.01%,
      rgba(229, 50, 43, 0.8) 21.35%,
      rgba(236, 59, 30, 0.8) 51.55%,
      rgba(236, 59, 30, 0.8) 51.56%,
      rgba(236, 59, 30, 0.8) 53.65%,
      rgba(236, 58, 31, 0.8) 77.07%,
      rgba(236, 58, 31, 0.8) 77.08%,
      rgba(237, 60, 29, 0.8) 97.4%,
      rgba(237, 60, 29, 0.8) 99.97%,
      rgba(237, 60, 29, 0.8) 99.98%,
      rgba(237, 60, 28, 0.8) 99.99%,
      rgba(238, 61, 27, 0.8) 100%
    ),
    url(./image/Rectangle\ 3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);

  .HeroImage {
    display: flex;
    justify-content: space-around;

    span {
      margin-top: 10px;
    }
    .navbar {
      text-align: center;
      margin-top: 10px;
      display: flex;
      gap: 15px;
    }
    .promo {
      display: flex;
      margin-bottom: 4px;
      &_img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .language_selection {
    display: flex;
    align-items: center;
    .flag {
      margin-right: 10px;
      margin-top: 5px;
    }
    .arrow {
      margin-top: 10px;
      margin-left: 10px;
    }
  }
  .button {
    width: 100px;
    height: 40px;
    border-radius: 6px;
    margin-left: 20px;
    background: none;
    border-width: 1px;
    border: none;
    border: 1px solid rgb(255, 255, 255);
    margin-top: 5px;
    span {
      color: rgb(255, 255, 255);
    }
  }
}

.InfomationPage {
  position: relative;
  top: 175px;
  left: 34%;
  font-size: 72px;
  width: 578px;

  .InformationPage_text {
    font-size: 24px;
    width: 540px;
    margin-top: 39px;
    text-align: center;
  }
}
.SingUp {
  margin-left: 200px;
  width: 160px;
  height: 50px;
  border-radius: 6px;
  color: #ed4c5c;
  border: none;
}
.aboutus1 {
  height: 500px;
  .videopreview {
    font-size: 36px;
    width: 445px;
    height: 107px;
    position: relative;
    top: 30%;
    left: 20%;
    &_img {
      position: relative;
      left: 51%;
      bottom: 30%;
      &_btn {
        position: absolute;
        bottom: -11%;
        right: 46%;
      }
    }
    &_text {
      font-size: 14px;
      width: 445px;
      height: 107px;
      position: relative;
      top: 30%;
      left: 20%;
      &_btn {
        color: #ed4c5c;
        margin-top: 15px;
        border: none;
        background: transparent;
      }
    }
  }
}
.aboutus2 {
  // height: 660px;
  background-color: #e7e7e7;
  .cards {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-top: 75px;
    .card {
      &_info {
        width: 293px;
        height: 198px;
        border-radius: 8px;
        position: relative;
        bottom: 20%;
        left: 6%;
        background-color: rgb(255, 252, 252);
        text-align: center;
        padding-top: 33px;
        filter: drop-shadow(0 0 0.75px rgb(0, 0, 0));
      }
    }
  }
  .Spaninfo {
    margin-top: 10px;
  }
  .btninfo {
    color: #ed4c5c;
    margin-top: 15px;
    border: none;
    background: transparent;
  }
}

.technology {
  height: 600px;
  .heading {
    text-align: center;
    margin-top: 20px;
  }
  .downloadlist {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    align-items: center;
    top: 10%;
    gap: 40%;
    font-size: 18px;
    align-items: baseline;
    font-weight: bold;
    left: 5%;
    max-width: max-content;
    &_text {
      text-align: center;
      &_span {
        margin-top: 20px;
        font-size: 12px;
        width: 200px;
        text-align: center;
        position: relative;
        right: 15%;
      }
    }
  }
}
.heading {
  text-align: center;
}
.bcimg {
  background-image: url(./01.svg);
  background-repeat: no-repeat;
  img {
    top: 30px;
    left: 25px;
    position: relative;
    width: 66px;
    height: 66px;
  }
}
.bcimg2 {
  background-image: url(./02.svg);
  background-repeat: no-repeat;
  img {
    top: 30px;
    left: 25px;
    position: relative;
  }
}
.bcimg3 {
  background-image: url(./03.svg);
  background-repeat: no-repeat;
  img {
    top: 30px;
    left: 25px;
    position: relative;
  }
}
.bcimg4 {
  background-image: url(./04.svg);
  background-repeat: no-repeat;

  img {
    top: 30px;
    left: 25px;
    position: relative;
    // width: 66px;
    // height: 66px;
    object-fit: cover;
  }
}
#files {
  margin-top: 30px;
  width: 200px;
  display: block;
  text-align: center;
  position: relative;
  right: 15%;
}
button:hover {
  transform: scale(1.1);
}
.apps {
  height: 500px;
  &_container {
    height: 600px;
    background-color: #ed4c5c;
    #img1 {
      position: relative;
      left: 50%;
      top: 30%;
      z-index: 10;
      border-radius: 5%;
      opacity: 1;
    }
    #img2 {
      position: relative;
      left: 23%;
      top: 25%;
      z-index: 1;
      width: 383px;
      border-radius: 5%;
      opacity: 50%;
    }
    #img3 {
      position: relative;
      left: 15%;
      top: 25%;
      z-index: 1;
      width: 383px;
      border-radius: 5%;
      opacity: 50%;
    }
    &_for {
      position: relative;
      bottom: 17%;
      left: 15%;
      font-size: 36px;
      color: #fff;
      width: 500px;
      &_text {
        margin-top: 50px;
        font-size: 14px;
        width: 445px;
        &_app {
          display: flex;
          margin-left: 14.8%;
          gap: 23px;
        }
      }
    }
  }
}
.apps_container{
#img2:hover, #img3:hover {
    z-index: 11;
    opacity: 1;
    transition: 0.3s ease-in-out;
    width: 453px;
    #img2:hover ~ #img1,
    #img3:hover ~ #img1 {
      opacity: 0.5;
    }
  }
  }
  


  

.contact {
  height: 500px;
  &_text {
    position: relative;
    top: 40%;
    margin-left: 5%;
    &_input {
      position: relative;
      left: 50%;
      width: 600px;
      #inp1 {
        width: 255px;
        height: 60px;
        border-radius: 6px;
        margin-left: 30px;
        margin-bottom: 30px;
        position: relative;
        right: 5%;
      }
      #inp2 {
        width: 545px;
        height: 60px;
        border-radius: 6px;
        margin-bottom: 30px;
      }
      input {
        border: none;
        border: 1px solid black;
        padding-left: 31px;
        font-size: 16px;
      }
      input::placeholder {
        font-size: 16px;
        line-height: 19.2px;
      }
    }
  }
  h1 {
    margin-bottom: 5%;
  }
  #btn {
    width: 160px;
    height: 50px;
    border-radius: 6px;
    color: #ffffff;
    border: none;
    border: 1.5px solid #ed4c5c;
    background-color: #ed4c5c;
    position: relative;
    left: 50%;
  }
}
.footer {
  background-color: #e7e7e7;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 10%;
  &_container {
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    gap: 30px;
    margin-left: 10%;
    ul {
      margin-bottom: 141px;
      list-style-type: none;
      li {
        margin-bottom: 10px;
      }
    }
    #vector_img {
      display: flex;
      gap: 12px;
    }
  }
}
#appbtn {
  background: none;
  border: none;
}
#appbtn1 {
  background: none;
  border: none;
}
#appbtn1:active{
  scale: 1.5;
}
